/* External CSS */

/* Global CSS variables */
:root {
  /* --colorGreen: green; */
  --primaryColor: #04471C;
  --secondaryColor: #1b8d4e;
  --accentColor: #20F374;
  --colorWhite: #fff;
  --colorBlack: #000;

  --cardWidth: 300px;
  --halfAndHalf: 50%;
  --spaceSmall: 10px;
  --spaceMedium: 20px;
  --spaceLarge: 30px;
}

/* Global CSS */
.spaceAround {
  justify-content: space-around;
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
  align-items: center;
}

.spaceEvenly {
  justify-content: space-evenly;
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
}

/* body is a CSS Selector */
/* {} idicates a CSS Declaration */
body {
  /* property:value; is a CSS Rule */
  margin: 0;
  /* background-color: var(--colorGreen); */
}

header {
  border-bottom: 5px solid var(--primaryColor);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  padding: 0 10px;
}

main {
  /* Local CSS Variable */
  --mainColor: green;

  height: 100vh;
  border: 2px dotted var(--mainColor);
}

.joinUsCard {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinUsCard > button {
  background-color: var(--primaryColor);
  color: var(--colorWhite);
}

.joinUsCard > button:hover {
  background-color: var(--secondaryColor);
}

.section {
  height: 100vh;
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  border-top: 5px solid var(--primaryColor);
}